.content {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 20%;
    transform: translate(-50%, -50%);
}

.tips-tricks {
    background-color: blue;
    color: white;
    padding-left: 15px;
    width: 25%;
    border-left: 10%;
}

.img {
    width: 120%;
    right: 10px;
}